services:
- type: web
  name: valentines
  runtime: docker
  repo: https://github.com/Yang-Yijin/valentines.git
  branch: main
  plan: free
  autoDeploy: true
  dockerfilePath: ./Dockerfile
  envVars:
  - key: ASPNETCORE_ENVIRONMENT
    value: Production
